{% extends "blogs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<h3><a href="{% url 'blogs:view_post' post.id %}">{{ post.title }}</a> - Edit comment.</h3>
{% endblock page_header %}

{% block content %}
<form method='post' action="{% url 'blogs:edit_comment' post.id comment.id %}" class="form" >
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name="submit" class="btn btn-primary">Save changes</button>
    {% endbuttons %}
</form>

{% endblock content %}