{% extends 'blogs/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
<h3>Register for an account.</h3>
{% endblock page_header %}

{% block content %}
<form method="post" action="{% url 'users:register' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button name="submit" class="btn btn-primary">Register</button>
    <a href="{% url 'blogs:index' %}" class="btn btn-primary">Cancel</a>
    <input type="hidden" name="next" action="{% url 'blogs:index' %}" />
</form>
{% endblock content %}